<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="augmented.security.asecuritysystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASecuritySystem">
        <activity android:name=".ui.distance.history.DistanceActivity"></activity>
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ui.DoorLock.History.LockHist" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.ASecuritySystem.NoActionBar" />
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ASecuritySystem.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>